@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";


.hotel-same{
  margin:0px 10px 50px;
  color:$color-grey-0;
  padding-bottom: 30px;
  .text{
    font-size: $font-size-middle;
    @include display-flex;
    @include justify-content(space-around);
    padding-bottom:30px;
  }
  .same-title{
    @include display-flex;
    @include justify-content(space-around);
    margin-bottom: 30px;
    &-item{
      width:110px;
      height:110px;
      border:1px solid $border-color;
      border-radius: 50%;
      font-size: $font-size-small;
      @include display-flex;
      @include align-items;
      @include justify-content;
    }
    &-text{
      width:80%;
      height:80%;
      border-radius: 50%;
      color: $color-white;
      background-color: rgba(51, 51, 51, 0.4);
      text-align: center;
      @include display-flex;
      @include align-items;
      @include justify-content;
    }
  }
}
