@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";


.hot-course{
  margin:0px 10px 50px;
  color:$color-grey-0;
  padding-bottom: 30px;
  .text{
    font-size: $font-size-middle;
    @include display-flex;
    @include justify-content(space-around);
    padding-bottom:30px;
  }
}
