@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";


.people-watch{
  margin:0px 10px 50px;
  color:$color-grey-0;
  padding-bottom: 60px;
  .text{
    font-size: $font-size-middle;
    @include display-flex;
    @include justify-content(space-around);
    @include align-items(center);
    color:$color-grey-0;
    height:100px;
    border-bottom: 1px solid $border-color;
  }
}
