@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";
.steps {
  background-color: $bg-color;
  line-height: 80px;
  padding:0 30px;
  .scrollX{
    white-space:nowrap;
  }
  .step-item{
    display: inline-block;
    .name {
      color: $color-grey-3;
      &.actived {
        color:#000;
      }
    }
    .dashed {
      display: inline-block;
      border: 1px dashed $border-color;
      width: 100px;
      position: relative;
      top: -5px;
      margin:0 10px;
    }
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}