@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";

$footer-height:90px;
page {
  min-height: 100%;
  background-color: $bg-color;
}
.order-confirm{
  .order-address {
    background-color: $color-white;
    padding: 30px 20px;
    .address-title {
      margin-bottom: 10px;
    }
    .address-content {
      @include display-flex;
      @include align-items(center);
      @include justify-content(space-between);
      color: $color-grey-4;
      &-left {
        font-size: $font-size-small;
        .name {
          margin-right: 10px;
        }
      }
    }
  }
  .order-detail {
    background-color: $color-white;
    @include display-flex;
    padding: 40px 20px;
    margin: 35px 0px;
    .vect {
      width: 25%;
    }
    &-right {
      flex: 1;
      padding-left: 15px;
      .name {
        color: #000;
      }
      .sku {
        color: $color-grey-4;
        font-size: $font-size-small;
        margin-top: 10px;
      }
      .price {
        text-align: right;
      }
    }
  }
  .order-other {
    background-color: $color-white;
    padding: 0 20px;
    &-item {
      padding: 20px 0px;
      @include display-flex;
      @include align-items(center);
      @include justify-content(space-between);
      border-bottom: 1px solid $border-color;
      .title {
        color: #000;
      }
      .item-right {
        flex: 1;
        .placeholderClass {
          color: $color-grey-4;
          font-size: $font-size-small;
        }
      }
    }
  }
  .pay-footer{
    height:$footer-height;
    @include display-flex;
    line-height: $footer-height;
    .pay-price{
      flex:3;
      color: $color-brand;
      text-indent: 42px;
      border-top:1px solid $color-grey-2;
    }
    .pay-btn{
      flex: 2;
      background-color: $color-brand;
      color: $color-white;
      text-align: center;
    }
  }
}
