@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";
page {
  background-color: $bg-color;
  min-height: 100%;
  margin-bottom: 40px;
}
$divic-height: 30px;
.order-detail{
  &-clock {
    @include display-flex;
    @include align-items;
    @include justify-content(space-between);
    line-height: 50px;
    padding: 30px 80px;
    background-color: $color-white;
    margin-bottom: $divic-height;
    .icon {
      font-size: 60px;
      color: $color-brand;
    }
  }
  &-receiveInfo {
    background-color: $color-white;
    margin-bottom: $divic-height;
    padding: 30px;
    @include display-flex;
    @include align-items;
    .icon {
      font-size: 40px;
      color: $color-brand;
      margin-right: 12px;
    }
    .user {
      margin-bottom: 10px;
      &-phone {
        color: $color-grey-3;
      }
    }
  }
  &-content {
    background-color: $color-white;
    margin-bottom: $divic-height;
    .content-title {
      border-bottom: 1px solid $border-color;
      padding: 25px 30px 35px;
    }
    .content-body{
      @include display-flex;
      padding: 20px;
      .body-left {
        flex: 1;
      }
      .body-right {
        padding-left: 25px;
        flex: 2;
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        .sku {
          color: $color-grey-3;
        }
        .price {
          margin-top: 10px;
          color: #000;
        }
        .btn-list {
          @include display-flex;
          @include justify-content(flex-end);
          .at-button {
            margin-left: 15px;
            border-radius: 10px !important;
          }
        }
      }
    }
    .content-price {
      padding: 40px 20px;
      .price-item {
        @include display-flex;
        @include justify-content(space-between);
        color:$color-grey-3;
        line-height: 56px;
        .actal-title {
          color: $color-grey-0;
        }
        .actal-price {
          color: $color-red;
        }
      }
    }
  }
  &-footer {
    background-color: $color-white;
    padding: 40px 20px;
    .title {
      padding-bottom: 15px;
    }
    .order-item {
      @include display-flex;
      @include justify-content(space-between);
      color:$color-grey-3;
      line-height: 60px;
    }
  }
}
