@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";

.detail{
  padding-bottom: 100px;
  .swiper{
    position: relative;
    .page{
      position: absolute;
      right: 30px;
      bottom: 50px;
      color:$color-grey-1;
      font-size: $font-size-small;
      background-color:$color-white;
      border-radius: 10px;
      padding:5px 15px;
    }

  }
  .detail{
    padding:30px 24px;
    .price{
      color:$color-red;
      font-size:$font-size-middle;
      margin-top:10px;
    }
    .profile, .transport-price {
      color: $color-grey-3;
      font-size: $font-size-small;
      line-height: 40px;
    }
    .profile {
      padding: 30px 0px;
    }
    .transport-price {
      padding-bottom: 30px;
    }
    .other-info {
      color:$color-brand;
      font-size: $font-size-small;
      .icon {
        transform: scaleY(180deg);
        margin-right:10px;
      }
    }
    .desc-sale{
      @include display-flex;
      @include align-items(center);
      @include justify-content(space-between);
      .icon{
        display: flex;
        &-item{
          // background-color: rgba(0, 0, 0, .3);
          border-radius: 50%;
          width:50px;
          height:50px;
          position: relative;
          .at-icon{
            color:rgba(0, 0, 0, .3);
            @include absolute-center;
          }
          .button-share{
            width:100%;
            height:100%;
            border:none;
            @include absolute-center;
          }
        }
        &-share{
          margin-left:10px;
        }
      }
      .desc{
        color:$color-grey-0;
      }
      .line{
        width:2px;
        background-color: $color-grey-1;
        height:32px;
      }
      .sale{
        @include display-flex;
        @include flex-direction(column);
        font-size:$font-size-mini;
        .sale_number{
          color:$color-brand;
        }
        .sale_text{
          color:$color-grey-1;
        }
      }
    }
    .tips{
      color:$color-grey-1;
      font-size:$font-size-mini;
    }
    .reason{
      &-title{
        color:$color-grey-1;
        font-size:$font-size-mini;
        margin:30px 0px;
      }
      &-list{
        background-color: color-percent($color-grey-2,0.3);
        border-radius: 10px;
        margin-right: 20px;
        padding:15px 20px;
      }
      &-item{
        @include display-flex;
        @include align-items(center);
        margin-bottom: 15px;
      }
      &-index{
        color:$color-brand;
        width:30px;
        height:30px;
        line-height: 30px;
        text-align: center;
        border:1px solid $color-brand;
        border-radius: 100%;
        margin-right: 15px;
      }
      &-text{
        color:$color-grey-1;
        font-size:$font-size-mini;
      }
    }
  }
  .block-line{
    height:2px;
    background-color: color-percent($color-grey-2,0.3);
  }
  .list,.rate-list{
    padding-right: 24px;
  }
  .sheet{
    // padding-bottom: 150px;
    .price{
      @include display-flex;
      .vect{
        width:200px;
      }
      .price_tip{
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(flex-end);
        padding-bottom: 25px;
        padding-left:15px;
        text-align: left;
      }
      .total-price{
        color:$color-brand;
        font-size: $font-size-normal;
      }
      .tip{
        font-size: $font-size-normal;
        color:$color-grey-0;
      }
    }
  }
  .attr{
    text-align: left;
    color:$color-grey-0;
    .attr-text{
      font-size: $font-size-normal;
      margin:30px 0px;
    }
    .attr-list{
      @include display-flex;
      font-size:$font-size-mini;
      &-item{
        padding:10px 20px;
        margin-right:20px;
        border:1px solid $color-grey-3;
        border-radius: 5px;
        &.active{
          color:$color-brand;
          border-color:$color-brand;
        }
        &.disabled{
          color:$border-color;
          border-color:$border-color;
        }
      }
    }
  }
  .sheet-item-btn{
    padding:0px;
  }
  .contcat-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top:0px;
  }
}
