@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";
page {
  background-color: $bg-color;
  min-height: 100%;
}
.cash-log{
  padding-bottom: 50px;
  .cash-panel {
    margin: 20px;
    background-color: $color-brand;
    color: $color-white;
    text-align: center;
    padding: 30px 20px 50px;
    &-amount {
      font-size: 48px;
      padding: 15px 0px 100px;
    }
    &-bottom {
      font-size: $font-size-small;
      @include display-flex;
      @include justify-content(space-between);
    }
  }
  .cash-tab {
    margin: 0 20px;
    padding-top:20px;
    @include display-flex;
    &-item {
      flex: 1;
      background-color: color-percent($color-white, 0.8);
      color: $color-grey-4;
      padding: 20px 0px;
      text-align: center;
      &:first-child{
        margin-right: 40px;
      }
      &.actived {
        background-color: $color-white;
        color: $color-grey-0;
        position: relative;
        &::after {
          display: block;
          content: '';
          width: 0px;
          height: 0px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $color-white;
          position: absolute;
          top:100%;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
  .cash-list {
    &-item {
      &-title {
        text-align: center;
        color:$color-grey-4;
        font-size: $font-size-large;
        padding: 60px 0px 50px;
      }
      &__list {
        background-color: $color-white;
        &-item {
          @include display-flex;
          @include justify-content(space-between);
          @include align-items;
          padding: 30px;
          border-bottom: 1px solid $border-color;
          .amount {
            color: #000;
          }
          .date {
            font-size: $font-size-small;
            color: $color-grey-4;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
