@import "../../style/custom-variables.scss";
@import "../../style/mixin.scss";
page {
  background-color: $bg-color;
  min-height: 100%;
  margin-bottom: 40px;
}
.order-management {
  .header {
    background-color: $color-white;
    border-top: 1px solid $border-color;
    padding: 0 20px;
    @include display-flex;
    @include justify-content(space-between);
    &-item {
      color: $color-grey-3;
      padding: 15px 0px;
      &.actived {
        color: $color-brand;
        border-bottom: 1px solid $color-brand;
      }
    }
  }
  .list {
    &-item {
      background-color: $color-white;
      margin-top: 40px;
      &-title {
        padding: 30px 20px;
        border-bottom: 1px solid $border-color;
        @include display-flex;
        @include justify-content(space-between);
        .title-text {
          color: #000;
        }
        .title-status {
          color: #D05353;
        }
      }
      &-content {
        padding: 30px 20px;
        @include display-flex;
        .content-left {
          flex: 1;
        }
        .content-right {
          flex: 2;
          padding-left: 30px;
          .sku {
            @include display-flex;
            @include justify-content(space-between);
            font-size: $font-size-small;
            &-name {
              color: $color-grey-3;
            }
          }
          .price {
            text-align: right;
            padding: 25px 0px;
            &-actual {
              color: #000;
              font-weight: 700;
            }
          }
          .btn-list {
            @include display-flex;
            @include justify-content(flex-end);
            .at-button {
              margin-left:15px;
              font-size: $font-size-mini;
              border-radius: 10px !important;
              &:not(.at-button--secondary) {
                color: $color-grey-3;
                border:1px solid $border-color;
              }
            }
          }
        }
      }
    }
  }
  .at-action-sheet__item {
    padding: 0px;
  }
  .cancel-panel {
    font-size: $font-size-normal ;
    color: $color-grey-0;
    &-title {
      color: #000;
      text-align: center;
      padding: 30px 0px;
    }
    &-tip {
      margin: 0 20px;
      text-align: center;
      line-height: 60px;
      background-color: $bg-color;
      font-size: $font-size-small;
    }
    &-reason-title {
      padding: 60px 20px 0px;
      color:$color-grey-3;
      text-align: left;
    }
    &-reason-list {
      padding: 20px;
      .at-checkbox__option {
        margin-top: 30px;
        .at-checkbox__option-cnt {
          @include display-flex;
          @include flex-direction(row-reverse);
          @include justify-content(space-between);
          .at-checkbox__icon-cnt {
            margin: 0px;
          }
          .at-checkbox__title {
            font-size:$font-size-normal ;
          }
        }
      }
    }
    &-footer {
      @include display-flex;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      padding: 15px 0px;
      margin-bottom: 20px;
      .btn {
        flex: 1;
        text-align: center;
        &:first-child {
          border-right: 1px solid $border-color;
        }
      }
    }
  }
}
